#set($dtoPackage=$package.Entity.replace("entity","dto"))
package $!{dtoPackage};

#if($subTableList && $subTableList.size()>0)
import java.util.List;
#end
#if($!{entityLombokModel})
import com.fasterxml.jackson.annotation.JsonProperty;
import lombok.Data;
##import lombok.EqualsAndHashCode;
#end

/**
 * 保存$!{table.comment}数据传输对象实体类
 *
 * @author $!{author}
 * @since $!{date}
 */
#if($!{entityLombokModel})
@Data
#end
public class Save$!{entity}FormDataDto {
    private static final long serialVersionUID = 1L;

    @JsonProperty("$!{table.name}Entity")
    private $!{entity}Dto $!{table.entityPath}Dto;

#foreach($subTable in $!{subTableList})
    @JsonProperty("$!{subTable.name}EntityList")
    private List<$!{subTable.entityName}Dto> $!{subTable.entityPath}Dto;

#end

}
