<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjrsoft.module.itss.fAQuestion.mapper.XjrBaseAnnexesfileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="xjrBaseAnnexesfileResultMap" type="com.xjrsoft.module.itss.fAQuestion.entity.XjrBaseAnnexesfile">
        <id column="F_Id" property="fId"/>
        <result column="F_FolderId" property="fFolderid"/>
        <result column="F_FileName" property="fFilename"/>
        <result column="F_FilePath" property="fFilepath"/>
        <result column="F_FileSize" property="fFilesize"/>
        <result column="F_FileExtensions" property="fFileextensions"/>
        <result column="F_FileType" property="fFiletype"/>
        <result column="F_DownloadCount" property="fDownloadcount"/>
        <result column="F_CreateDate" property="fCreatedate"/>
        <result column="F_CreateUserId" property="fCreateuserid"/>
        <result column="F_CreateUserName" property="fCreateusername"/>
        <result column="F_FileStatus" property="fFilestatus"/>
    </resultMap>



</mapper>
